* {
  box-sizing: border-box;
}
a:visited {
  color: #ffd740;
}
a.button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffd740;
  position: absolute;
  bottom: 35px;
  right: 20px;
}
mat-toolbar {
  position: relative;
  height: 100px;
  background-color: #33726c38;
}
.icon {
  font-family: "Londrina Sketch";
  font-size: 30px;
  background-color: transparent;
  color: #ffd740;
  text-transform: uppercase;
}

span:first-of-type {
  /* flex: 1; */
  text-align: right;
  font-size: 80%;
  padding: 40px;
  color: #ffd740;
  /* text-transform: uppercase; */
}
.explore {
  font-family: cursive;
  color: #ffd740;
  padding: 10px;
  font-size: 1.5vw;
}
.searchbar {
  position: absolute;
  right: 180px;
  bottom: 20px;
}
