/** related list **/
.showName {
  padding-left: 5px;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover,
a:visited {
  color: #476b6b;
}
.section {
  float: left;
  border: 1px #0e0e0e solid;
  background-color: #181717;
  margin: 5px 0px 5px 10px;
  height: 400px;
  width: 200px;
  overflow: hidden;
}
.summary {
  padding: 10px;
  text-align: left;
  color: white;
  font-size: small;
}

/** related list **/

/** First component styling**/
.detailSection {
  border: 1px #0e0e0e solid;
  background-color: #181717;
  align-self: center;
  height: 400px;
  width: 1200px;

  margin: auto;
}
.image {
  padding-top: 10px;
  padding-left: 10px;
  height: 380px;
  width: 300px;
  float: left;
}
.showName1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 80px;
  color: white;
  margin-bottom: 10px;
}
.rating1,
.genres1,
.summary1 {
  color: #999999;
  text-align: center;
}
.rating1 {
  margin-right: 20px;
  font-size: 15px;
}
.genres1 {
  font-size: 15px;
}
.summary1 {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
}
.playButton {
  background-color: #141414;
  font-size: 30px;
  color: white;
}

.playButtonDiv {
  margin-top: 10px;
  text-align: center;
}
.playButton:hover {
  background-color: #393d3d;
}
.date1 {
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: 30px;
  border: 1px white solid;
}
/**first componentend**/

/**** scrollbar styling***/

.container {
  max-width: 100%;
  overflow-x: auto;
  /* overflow-y: visible; */
  background-color: #1d2025;
}

.contents {
  width: max-content;
  /* height: max-content; */
  color: #a9a9a9;
}

/*
 *  STYLE 1
 */
.container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container::-webkit-scrollbar {
  background-color: #f5f5f5;
  height: 6px;
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/****/
