
<!-- <div *ngIf="current" style="height: 100px;">
  <table *ngFor="let b of current">
    <div style="border: 1px solid black;">
      <tr>
        <th style="float:left;"> <img [src]='b.image'/></th>

      </tr>
      <tr>
         <td  style="font-size: 20px;font-weight: bolder;"><a [href]='b.url' >{{b.name}}</a></td>
       </tr>
  
      <tr>
        <td style="width: 100px;">{{b.summary}}</td>
      </tr>
    </div>
  
  </table>
</div> -->


<div  *ngIf="current" class="container">
  <div class="contents">
  <span  *ngFor="let b of current" id="rowdiv"  >
    <div class="section">
        <a [href]='b.url' ><img [src]='b.image' width="100%"/></a>
        <div class="showName"><a [href]='b.url' target="_blank">{{b.name}} {{b.rating}}</a></div>
        <div style="padding: 10px;text-align: left;"> {{b.summary}}</div> 
    </div> 
  </span>
  </div>
</div>

     