<div *ngIf="tvshow">
  <div *ngFor="let show of tvshow; let i = index">
    <div *ngIf="i == 0">
      <div class="detailSection">
        <a [href]="show.url" target="_blank"><img class="image" [src]="show.image"/></a>
        <div class="showName1">
          {{ show.name }}
        </div>
        <div class="rating1">
          <span> {{ show.rating }} <mat-icon [ngStyle]="{ color: 'yellow' }">star</mat-icon
          >, {{ show.runtime }} min </span>
        </div>
        <div class="playbutton">
        <a [href]="show.url" target="_blank" >
          <div><img src="https://img.icons8.com/bubbles/100/000000/circled-play.png"> </div>
          WATCH NOW!
            <!-- Watch <mat-icon [ngStyle]="{ color: 'white' }">play_arrow</mat-icon> -->
        </a>
      </div>
        <div class="genres1">Genres: {{ show.genres }}<hr></div>

        <div class="summary1">{{ show.summary }}</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="contents">
      <span *ngFor="let show of tvshow" id="rowdiv">
        <div class="section">
          <a [href]="show.url"><img [src]="show.image" width="100%" class='img'/></a>
          <div class="showName">
            <a [href]="show.url" target="_blank">{{ show.name }}</a>
          </div>
          <!-- <div class="showName">
            <mat-icon [ngStyle]="{ color: 'yellow' }">star</mat-icon>
            {{ show.rating }}
          </div> -->
        </div>
      </span>
    </div>
  </div>
</div>
<!-- <html>
<body>
<div *ngIf='tvshow'>
  <title>Tv-Show-App</title>
  <div class="row">
    <div class="column">
    
    <div *ngFor="let show of tvshow">
    <div class="section">{{ show.name }}</div>
    <div>
      <img [src]='show.image' />
    </div>
  <p>{{ show.genres }} | {{show.language}}</p>
  <p>{{show.summary}}</p>
  </div>
</div>
</div>
</div>
</body>
</html> -->
