* {
  box-sizing: border-box;
}

/** related list **/
.showName {
  text-align: left;
  font-size: 15px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  opacity: 0.3;
}
/* a:visited {
  color: rgb(247, 231, 231);
} */
.section {
  float: left;
  margin: 5px 0px 5px 10px;
  padding: 5px;
  height: auto;
  width: auto;
  overflow: hidden;
}
.img {
  border-radius: 10%;
  width: auto;
}

/** related list **/
.detailSection {
  height: 400px;
  width: auto;
  margin: auto;
}
.image {
  padding: 10px;
  height: 380px;
  width: auto;
  float: left;
  border-radius: 10%;
}
.showName1 {
  padding: 20px;
  font-family: fantasy;
  text-align: left;
  font-weight: bolder;
  font-size: 3.3vw;
  color: white;
  margin: 10px;
}
.rating1 {
  text-align: left;
  font-size: 20px;
  font-family: fantasy;
}
.genres1 {
  text-align: left;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  width: 85%;
}
/* .summary1 {
 
  text-align: left;
  font-size: 15px;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: auto; 
} */
/* p { max-width: 250ch; } */
.playbutton {
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  position: relative;
  float: right;
  font-family: fantasy;
  padding: 10px;
}
/**first componentend**/

/** First component styling**/

/**** scrollbar styling***/

.container {
  max-width: 100%;
  overflow-x: auto;
  /* overflow-y: visible; */
  /* background-color: transparent; */
}

.contents {
  width: max-content;
  /* height: max-content; */
  color: #a9a9a9;
}

/*
 *  STYLE 1
 */
.container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container::-webkit-scrollbar {
  background-color: #f5f5f5;
  height: 6px;
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.summary1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  font-family: cursive;
  color: black;
   color: #ffd740; 
  padding: 10px;
  font-size: 2vw; 
}
